{% extends 'chatrooms/template.html' %}

{% block title%}третья комната{% endblock %}

{% block content%}
    <h1>Это третья комната чата</h1>
    {% if messages %}
    {% for el in messages reversed%}
    <div class="alert alert-warning mt-2" style="background-color:white; border:black">
        <h3>{{ el.name }}</h3>
        <p>{{ el.message }}</p>
    </div>
    {% endfor %}
    {% else %}
        <p>Пока тут нет сообщений((( оставьте своё</p>
    {% endif %}

<h1>Написать сообщение</h1>
<form method="post">
    {% csrf_token %}
    {{form.name}}<br>
    {{form.message}}<br>
    <button type="submit" class="btn btn-success">отправить</button>

</form>
{% endblock %}